* {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  margin: 15px;
  border-radius: 50%;
  object-fit: cover;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
}
#click {
  background-color: hotpink;
  color: navy;
  margin-right: 10px;
}
/* #click:hover {
  background-color: black;
  color: white;
} */
#restart {
  background-color: navy;
  color: hotpink;
}
/* #restart:hover {
  background-color: black;
  color: white;
} */
#result {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}
