header {
  background-color: skyblue;
  position: fixed;
  height: 100vh;
  width: 400px;
  background-image: url(../../../resources/background.jpg);
  background-size: cover;
  background-position: center;
}

.header-blackbox {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 30%;
}

.header-content {
  width: 100%;
  height: 100%;
  /* 원하는 위치로 재정렬: position: absolute; 
     후 원화는 위치 입력: top: 0; left: 0; 정렬해 둔 뒤 가운데로 설정 */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.header-content h1 {
  font-size: 4rem;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  width: 70%;
  text-align: center;
  padding-top: 80px;
}
.header-content ul {
  font-size: 1.5rem;
  padding-bottom: 100px;
}
.header-content li {
  margin-top: 30px;
}
.header-content a {
  color: white;
  font-weight: lighter;
}
section {
  padding: 20px;
  padding-left: 420px;
  display: flex;
  flex-direction: column;
}
section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
section img {
  width: 100%;
  max-width: 800px;
  padding-bottom: 20px;
  align-self: center;
}
section p {
  line-height: 1.8;
}
