header {
  background-color: white;
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}
header nav {
  display: flex;
}
header nav a {
  line-height: 40px;
  padding: 10px;
}
header nav a:hover {
  background-color: black;
  color: white;
}
main {
  padding-top: 60px;
}
main section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
main section p {
  width: 80%;
  text-align: center;
  line-height: 1.5rem;
}
#section1 {
  background: red;
}
#section2 {
  background-color: purple;
}
#section3 {
  background-color: yellow;
}
.top {
  background-color: black;
  color: white;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
