header {
  text-align: center;
  border-bottom: 1px solid lightgray;
}
header h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}
header nav {
  background-color: aqua;
  display: flex;
  justify-content: center;
  /* 강사님 풀이: padding-bottom: 10px; > nav a 링크가 네비게이션 영역 밖으로까지 잡힘 */
  padding: 11px;
}
header a {
  background-color: yellow;
  color: gray;
  padding: 10px;
}
main {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
main h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
main h3 {
  font-size: 1.8rem;
}
#main-content {
  display: flex;
  /* flex-wrap: wrap; : 브라우저가 좁을 때 circle의 가로길이가 줄어들지 않고 유지 됨 */
  flex-wrap: wrap;
  justify-content: center;
}
.circle {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
#main-content .circle:nth-child(1) {
  background-color: indianred;
}
#main-content .circle:nth-child(2) {
  background-color: coral;
}
#main-content .circle:nth-child(3) {
  background-color: cadetblue;
}
#main-content .circle:nth-child(4) {
  background-color: steelblue;
}
#contents {
  padding: 10px;
}
#contents h4 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.article-content {
  margin-bottom: 20px;
}
.article-container img {
  width: 100%;
  margin-bottom: 10px;
}
.aside-content {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.aside-content img {
  width: 30%;
  margin-right: 10px;
}
@media screen and (min-width: 720px) {
  .circle {
    width: 250px;
    height: 250px;
    margin: 40px;
  }
}
@media screen and (min-width: 800px) {
  header h1 {
    position: absolute;
    /* top: 0px; 이유 */
    top: 0px;
    /* left: 50%; 대신 display: flex; justify-content: center; 로 사용 못하는 이유? */
    left: 50%;
    transform: translate(-50%, 0);
  }
  header nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  /* header nav > * {
    height: 100%;
  } */
  header nav a {
    /* inline 태그인 a 태그를 (display: inline-block;을 사용해서) block으로 바꾼 이유? 
       block으로 바꿨을 때 네비게이션 목록(a 태그)이 justify-content: center;로 정렬된 이유?
    */
    display: inline-block;
  }
  .article-container {
    display: flex;
  }
  .article-content {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media screen and (min-width: 990px) {
  .circle {
    width: 200px;
    height: 200px;
    margin: 20px;
  }
}
